.admin-kefu{
    color:#000;
    font-family:STHeiti,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,MingLiu;
    font-size: 14px;
    padding:0 7px;
}

#checkin-msg{
    padding-bottom:10px;
}
.main-header .logo{
    padding:0 15px 0 0;
}
.main-header .logo .logo-fly {
    width: 88px;
    height: 64px;
    padding: 5px 5px 18px 15px;
}

.showQrcode{

    margin-left: 30px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.qr-icon{
    font-size: 14px;
}
.product-info p{
    margin-top:10px;
}