body{
    font-family:STHeiti,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,MingLiu;
}
.container{
    padding-bottom:80px;
}
.logo-fly{
    width: 88px;
    height: 64px;
    padding: 10px;
}

.code-container{
    padding-bottom: 0;
}

.width30{
    width:30%;
}

@media only screen and (max-width: 992px){
    nav .brand-logo {
        left: 36%;

    }
}

/*kefu css*/
.xiaofeikefu{ position:absolute; right:0; top:150px;}
.slide_min{ width:28px; height:112px; background:url(../img/slide_min.jpg) no-repeat; cursor:pointer;}
.slide_box h2{
    margin:0;
    font-size: 1.5em;
}
#floatDivBoxs {
    width: 154px;
    background:url(../img/slide_box_bg.jpg) repeat-y;
    /*position: fixed;*/
    /*top: 480px;*/
    /* right: 0;
     z-index: 999;*/
    color: #666;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    border-bottom:2px solid #76A20D;
}


#floatDivBoxs .floatDqq li {
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 0 0 50px;
}
#floatDivBoxs .floatDqq li:last-child{
    border-bottom: none;
    padding-bottom: 10px;
}

#floatDivBoxs .floatDqq {
    padding: 0 14px;

}




nav .button-collapse{
    float:right;
}

/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){

    .logo-fly{
        margin-left:-20px;
        width:64px;
        height:54px;
    }

}

/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){

}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){

}